.lukknapp {
    cursor: pointer;
    outline-offset: 0.5rem;
    outline-color: #0067c5;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0;
    background: none;
    color: #0067c5;
    border: none;
}

.lukknapp:hover {
    text-decoration: underline;
}

.lukknapp .buttonText {
    margin-right: 0.5rem;
}
