.title {
    text-align: center;
    margin-top: 1rem;
}

.underline {
    border: 0;
    border-top: 1px solid #8d8d8d;
    width: 40%;
    margin-bottom: 2rem;
}

.textWrapper {
    margin-top: var(--a-spacing-6);
}

.over12Weeks :global(.navds-body-long:first-of-type) {
    padding-bottom: var(--a-spacing-5);
}
