@import '~nav-frontend-core/less/_variabler';
@import '~nav-frontend-core/less/core.less';

@headerFarge: #d1eff9;

@skjermLiten: 30rem;
@skjermMini: @skjermLiten;
@skjermMedium: 35rem;

@fontSizeBreakPoint: 35rem;
@desktopLimitWidth: 672px;

@font-family: 'Source Sans Pro', Arial, sans-serif;
@font-size: 1rem;

html,
body {
    height: 100%;
    background-color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    min-height: 70vh;
}

.limit {
    position: relative;
    padding: 0 1rem 0;
}

@media (min-width: @screen-sm) {
    .limit {
        width: @desktopLimitWidth;
        margin: 0 auto;
        padding: 1rem 1rem 4rem;
    }
}
