.merknadBannerSection {
    margin-bottom: var(--a-spacing-6);
}

.title {
    margin-bottom: var(--a-spacing-4);
}

.paragraph {
    margin-bottom: var(--a-spacing-2);
}

.merknadBannerRuler {
    opacity: 0.5;
    margin: 22px 0;
}

.veilederMottattSykmeldingen {
    display: flex;
    margin: 0 var(--a-spacing-12) 0 var(--a-spacing-12);
}

.veilederMottattSykmeldingen :global(.nav-veileder) {
    margin-right: var(--a-spacing-4);
}

@media (max-width: 480px) {
    .veilederMottattSykmeldingen {
        display: block;
        margin: 0 var(--a-spacing-2) 0 var(--a-spacing-2);
    }

    .veilederMottattSykmeldingen :global(.nav-veileder) {
        display: block;
        margin: 0 0 var(--a-spacing-4) 0;
    }

    .veilederMottattSykmeldingen :global(.typo-element) {
        display: block;
    }
}
