@import '../../App.less';

.merknad-banner__section {
    margin-bottom: 1.5rem;
}

.merknad-banner__title {
    margin-bottom: 1rem;
}

.merknad-banner__paragraph {
    margin-bottom: 0.5rem;
}

.merknad-banner__ruler {
    opacity: 0.5;
    margin: 22px 0;
}

.veileder-mottatt-sykmeldingen {
    display: flex;
    margin: 0 6rem 0 6rem;

    .nav-veileder {
        display: inline-block;
        margin-right: 1rem;
    }
    
    .typo-element {
        display: none;
    }
}

@media (max-width: @mobileWidthMax) {
    .veileder-mottatt-sykmeldingen {
        display: block;
        margin: 0 0.5rem 0 0.5rem;

        .nav-veileder {
            margin-bottom: 1rem;
        }

        .typo-element {
            display: block;
        }
    }
}
