@import '../../../../../App.less';

form {
    .form-section {
        margin-bottom: 2rem;
    }

    .form-section--border {
        border-bottom: 1px solid @navGra40;
    }
}

.panelgruppe {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
