.egenmeldingsperioder {
    margin-bottom: 1rem;
}

.egenmeldingsperiode {
    position: relative;
    display: flex;
    padding: var(--a-spacing-4) 0;
}

.egenmeldingsperiode:not(:last-child) {
    border-bottom: 1px solid grey;
}

@media (max-width: 530px) {
    .egenmeldingsperiode {
        flex-direction: column;
        align-items: flex-start;
    }
}
