.infoOmDigitalSykmelding section:not(:last-child) {
    margin-bottom: 2rem;
}

.infoOmDigitalSykmelding .infoOmDigitalSykmeldingInnhold {
    padding: 0 1rem 1rem 1rem;
}

.infoOmDigitalSykmelding .infoOmDigitalSykmeldingParagraph:not(:last-of-type) {
    margin-bottom: 1rem;
}

.infoOmDigitalSykmelding .infoOmDigitalSykmeldingTitle {
    display: flex;
    align-items: center;
}

.infoOmDigitalSykmelding .infoOmDigitalSykmeldingSubtitle {
    margin-bottom: 0.5rem;
}
