.teasere-header {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teasere-header__tittel {
}

.teasere-header__sorter-etter {
    width: 7rem;
}