.listEntry {
    margin-bottom: var(--navds-spacing-6);
}

.listEntry :global(.navds-body-short) {
    font-size: var(--navds-font-size-medium);
}

.listEntryText {
    margin: 0.5rem 0 0.5rem 1rem;
}
