.statuspanel {
    background: white;
    margin-bottom: 2rem;
}

.statuspanel-rad {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
}

.statuspanel-rad > * {
    flex: 1;
}
