.centerItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.centerItemsVertical {
    justify-content: center;
}

.centerItemsHorizontal {
    align-items: center;
}
