@import '../../basic.less';

.infopanel {
    background-color: white;
}

.infopanel-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

.infopanel-info {
    background-color: @navLysBlaLighten40;
}

.infopanel-feil {
    background-color: @redErrorLighten60;
}

.infopanel-header-icon {
    width: 24px;
    margin-right: 1rem;
}

.infopanel-content {
    padding: 2rem;
}

.infopanel-content-header {
    margin-bottom: 2rem;
}
