@import '../../basic.less';

.panel {
    background-color: white;
}

.panel-header {
    background-color: @navLysBlaLighten40;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.panel-content {
    padding: 2rem;
}

.panel-content-header {
    margin-bottom: 2rem;
}
