@import '../../basic.less';

.panel {
    background-color: white;
}

.panel-header {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

.panel-info {
    background-color: @navLysBlaLighten80;
}

.panel-feil {
    background-color: @redErrorLighten60;
}

.panel-header-icon {
    width: 24px;
    margin-right: 1rem;
}

.panel-content {
    padding: 2rem;
}

.panel-content-header {
    margin-bottom: 2rem;
}
