@import '../../../../App.less';

#statuspanel {
    border: 1px solid #78706a;
    border-radius: 4px;
    margin-bottom: 25px;

    #statuspanel__header {
        // For positioning statusHeader on top of container border
        position: relative;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        //
        background-color: @navGronnLighten80;
        border: 1px solid @navGronn;
        border-radius: 4px;
        padding: 20px;
        display: flex;
        align-items: flex-start;

        img {
            margin-right: 15px;
        }
    }

    #statuspanel__content {
        padding: 20px;
        display: flex;
        align-items: flex-start;

        img {
            margin-right: 15px;
        }

        #statuspanel__sections {
            .statuspanel__section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .statuspanel__section-title {
                    margin-bottom: 5px;
                }
                padding-top: 30px;
                padding-bottom: 30px;
                border-bottom: 0.5px solid #666666;
            }

            .statuspanel__section:last-child {
                border-bottom: 0;
            }
        }
    }

    .statuspanel--margin-top {
        margin-top: 15px;
    }
    .statuspanel--margin-bottom {
        margin-bottom: 15px;
    }
}
