.periodeView .periode {
    border-bottom: 1px solid var(--skillelinje-farge);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.periodeView .periode p:not(:last-of-type) {
    margin-bottom: 0.3rem;
    font-size: 1rem;
}
