.flereOpplysninger svg {
    margin-right: var(--a-spacing-2);
}

.flereOpplysninger button {
    background-color: transparent;
}

.content {
    padding: 0 var(--a-spacing-2) 0 var(--a-spacing-2);
}

.iconAndTitle {
    display: flex;
    align-items: center;
    color: #0056b4;
}

.flereOpplysninger :global(.navds-accordion__header),
.flereOpplysninger :global(.navds-accordion__header:hover) {
    background-color: transparent;
}
