.opplysningerTilArbeidsgiver {
    background-color: #fef9ef;
}

.sykmeldingsopplysninger :global(.navds-accordion__content) {
    padding: var(--navds-spacing-3) 0 var(--navds-spacing-2) 0;
}

.expandeblePanel {
    background-color: transparent;
}

.sykmeldingsopplysningerHeader {
    display: flex;
    border: none;
    width: 100%;
    align-items: center;
}

.sykmeldingsopplysningerHeader .arbeidsgiverHeader {
    width: 100%;
    align-items: center;
}

.sykmeldtHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-4) 0 var(--navds-spacing-4) 0;
    width: 100%;
}

.arbeidsgiverHeader {
    display: flex;
    padding: var(--navds-spacing-4);
    align-items: flex-start;
}

.expendableHeader {
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.sendtDato {
    color: var(--navds-global-color-gray-600);
}

.sykmeldingsopplysningerIcon svg {
    font-size: var(--navds-font-size-heading-medium);
    margin-right: 0.5rem;
}

.sykmeldingsopplysningerText {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: start;
}

.opplysningerTilArbeidsgiver .sykmeldingsopplysningerHeader {
    background-color: #fef9ef;
}

.sentDateAndPrint {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--navds-global-color-gray-500);
}

.printButton {
    position: relative;
    bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-1);
    right: -0.8rem;
}

.printButton svg {
    height: 1.3rem;
}

@media print {
    .printButton,
    .sykmeldingsopplysningerHeader .arbeidsgiverHeader {
        display: none;
    }

    .opplysningerTilArbeidsgiver,
    .sentDateAndPrint {
        border: none;
    }
}

@media only screen and (max-width: 720px) {
    .printButton {
        display: none;
    }

    .sendtDato {
        padding-bottom: var(--navds-spacing-2);
    }
}
