.sykmeldingsview {
    border-top: 1px solid var(--skillelinje-farge);
    padding-top: 2rem;
}

.arbeidsgiver {
    border-top: 0;
    padding-top: 0;
}

.datoSykmeldingenBleSkrevet {
    margin-bottom: 2rem;
}

.datoSykmeldingenBleSkrevetArbeidsgiver {
    margin-bottom: 2rem;
    border-top: 1px solid var(--skillelinje-farge);
    padding-top: 2rem;
}
