.sykmeldingViewArbeidsgiver {
    border-top: 0;
    padding-top: 0;
    padding: 0 var(--navds-spacing-4) var(--navds-spacing-4) var(--navds-spacing-4);
}

.sykmeldingViewArbeidsgiver > div:not(:last-of-type, :global(.periodeView)) {
    margin-bottom: var(--navds-spacing-4);
}
