.sykmeldingsopplysninger {
    background-color: #ffffff;
}

.sykmeldingsopplysningerHeader {
    display: flex;
    border: none;
    border-radius: 4px;
    width: 100%;
    align-items: center;
}

.sykmeldingsopplysningerHeader .arbeidsgiverHeader {
    width: 100%;
    align-items: center;
}

.sykmeldtHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--navds-spacing-2);
    padding: var(--navds-spacing-4) var(--navds-spacing-4) var(--navds-spacing-4) 0;
    width: 100%;
}

.arbeidsgiverHeader {
    display: flex;
    padding: var(--navds-spacing-4);
    align-items: flex-start;
}

.sendtDato {
    color: var(--navds-global-color-gray-600);
}

.sykmeldingsopplysningerIcon svg {
    font-size: var(--navds-font-size-heading-medium);
    margin-right: 0.5rem;
}

.sykmeldingsopplysningerText {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: start;
}

.sykmeldingsopplysningerHeaderExpandable {
    cursor: pointer;
}

.sykmeldingsopplysningerContentHidden {
    display: none;
}

.ikkeSendeTilArbeidsgiverPanel {
    margin: 0 var(--navds-spacing-4) 0 var(--navds-spacing-4);
}

.ikkeSendeTilArbeidsgiverPanel :global(.ekspanderbartPanel__tittel) {
    font-size: 1.17rem;
}

.opplysningerTilArbeidsgiver {
    background-color: #fef9ef;
    border: 1px solid #78706a;
    border-radius: 4px;
}

.opplysningerTilArbeidsgiver .sykmeldingsopplysningerHeader {
    background-color: #fef9ef;
}
