.opplysningerTilArbeidsgiver :global(.navds-accordion__content) {
    padding: var(--a-spacing-3) 0 var(--a-spacing-2) 0;
}

.opplysningerTilArbeidsgiver {
    background-color: #fef9ef;
}

.opplysningerTilArbeidsgiver .sykmeldingsopplysningerHeader {
    background-color: #fef9ef;
}

.expandeblePanel {
    background-color: transparent;
}

.sykmeldingsopplysningerHeader {
    display: flex;
    border: none;
    width: 100%;
    align-items: center;
}

.expendableHeader {
    display: flex;
    padding: 0;
    align-items: flex-start;
}

.sykmeldingsopplysningerIcon svg {
    font-size: var(--a-font-size-heading-medium);
    margin-right: 0.5rem;
}

.sykmeldingsopplysningerText {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: start;
}
