.annenInfo {
    padding-bottom: var(--navds-spacing-4);
}

.heading {
    font-size: var(--navds-font-size-heading-xsmall);
}

.info {
    background-color: var(--navds-global-color-blue-50);
    padding: var(--navds-spacing-4);
    margin-bottom: var(--navds-spacing-3);
    border-radius: 4px;
}

.info :global(.navds-body-short) {
    margin-top: var(--navds-spacing-2);
}

.info :global(p.navds-body-short:not(:last-of-type)) {
    margin-bottom: 0.3rem;
}

@media print {
    .annenInfo {
        padding-bottom: var(--navds-spacing-8);
    }

    .info {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
