.annenInfo {
    padding-bottom: var(--a-spacing-4);
}

.info {
    background-color: var(--sykmelding-view-sykmeldt);
    padding: var(--a-spacing-4);
    margin-bottom: var(--a-spacing-3);
    border-radius: 4px;
}

.info :global(.navds-body-short) {
    margin-top: var(--a-spacing-2);
}

.info :global(p.navds-body-short:not(:last-of-type)) {
    margin-bottom: 0.3rem;
}
