.root,
.medisinskTilstand {
    padding: 0;
}

.info {
    background-color: var(--sykmelding-view-flere-opplysninger);
    padding: var(--a-spacing-4);
    margin-bottom: var(--a-spacing-3);
    border-radius: 4px;
}

.info h4,
.info h5 {
    margin-top: 0;
}

.info :global(.navds-body-short) {
    margin-top: var(--a-spacing-2);
}
