.bistandUmiddelbart,
.beskrivBistand {
    background-color: var(--sykmelding-view-flere-opplysninger);
    padding: var(--navds-spacing-4);
    margin-bottom: var(--navds-spacing-3);
}

.bistandUmiddelbart div,
.beskrivBistand div {
    margin: 0;
}

.bistandUmiddelbart p:last-of-type,
.beskrivBistand p:last-of-type {
    margin-bottom: 0;
}
