.info {
    background-color: var(--navds-global-color-gray-50);
    padding: var(--navds-spacing-4);
    margin-bottom: var(--navds-spacing-3);
}

@media print {
    .info {
        padding-bottom: var(--navds-spacing-8);
    }
}
