.arbeidsforEtterPeriode div,
.hensynArbeidsplassen div,
.erIArbeid div,
.erIkkeIArbeid div {
    background-color: var(--sykmelding-view-flere-opplysninger);
    padding: var(--navds-spacing-4);
    margin-bottom: var(--navds-spacing-3);
}

.arbeidsforEtterPeriode p:last-of-type,
.hensynArbeidsplassen p:last-of-type,
.erIArbeid p:last-of-type,
.erIkkeIArbeid p:last-of-type {
    margin-bottom: 0;
}
