.kontaktDato,
.begrunnelseIkkeKontakt {
    background-color: var(--sykmelding-view-flere-opplysninger);
    padding: var(--navds-spacing-4);
    margin-bottom: var(--navds-spacing-3);
}

@media print {
    .info {
        padding-bottom: var(--navds-spacing-8);
    }

    .info div {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .info .begrunnelseIkkeKontakt {
        margin-bottom: var(--navds-spacing-4);
    }
}
