#egenmeldingsperioder {
    margin-bottom: 1rem;
}
.egenmeldingsperiode {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;

    .egenmeldingsperiode__fom {
        margin-right: 1rem;
        padding: 0.5rem 0;
    }
    .egenmeldingsperiode__tom {
        margin-right: 1rem;
        padding: 0.5rem 0;
    }
    .egenmeldingsperiode__slett {
        margin: 0.5rem 0;
    }
}

.egenmeldingsperiode:not(:last-child) {
    border-bottom: 1px solid grey;
}
