@import '../../../App.less';

.location-header {
    background-color: @headerFarge;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
