@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    --header-farge: #c2eaf7;
    --desktop-limit-width: 42rem;
    --eyes-open-color: #3e3832;
    --eyes-closed-color: #e7e9e9;
    --sykmelding-view-sykmeldt: var(--a-blue-50);
    --sykmelding-view-flere-opplysninger: var(--a-gray-50);
    --sykmelding-view-arbeidsgiver: #fef9ef; /*TODO: fix color var(--a-gray-50); */
}

@media print {
    @page {
        margin: 0mm;
    }

    html > body #index-page {
        height: 100%;
        overflow: hidden;
    }

    #decorator-header,
    #decorator-footer,
    ._hj_feedback_container {
        display: none;
    }
}
