@import '~@navikt/ds-css';

html {
    --header-farge: #c2eaf7;
    --skillelinje-farge: #c9c9c9;
    --desktop-limit-width: 672px;
    --eyes-open-color: #3e3832;
    --eyes-closed-color: #e7e9e9;
    --sykmelding-view-sykmeldt: var(--navds-global-color-blue-50);
    --sykmelding-view-flere-opplysninger: var(--navds-global-color-gray-50);
    --sykmelding-view-arbeidsgiver: #fef9ef; /*TODO: fix color var(--navds-global-color-gray-50); */
}

html,
body {
    height: 100%;
    background-color: white;
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 1.2rem;
}

ul li {
    font-size: 1rem;
}

#root {
    min-height: 50vh;
}

@media print {
    @page {
        margin: 0mm;
    }

    html > body #index-page {
        height: 100%;
        overflow: hidden;
    }

    #decorator-header,
    #decorator-footer,
    ._hj_feedback_container {
        display: none;
    }
}
