@import '~@navikt/ds-datepicker/lib/index.css';
@import '~@navikt/ds-css';

@import '~nav-frontend-ekspanderbartpanel-style/dist/main.css';
@import '~nav-frontend-typografi-style/dist/main.css';
@import '~nav-frontend-veileder-style/dist/main.css';
@import '~nav-frontend-veilederpanel-style/dist/main.css';

html {
    --header-farge: #c2eaf7;
    --skillelinje-farge: #c9c9c9;
    --desktop-limit-width: 672px;
    --eyes-open-color: #3e3832;
    --eyes-closed-color: #e7e9e9;
}

html,
body {
    height: 100%;
    background-color: white;
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 1.2rem;
}

ul li {
    font-size: 1rem;
}

#root {
    min-height: 50vh;
}

.hide-on-print {
    padding: 0;
}

.sykmelding-status-print {
    display: none;
}

@media print {
    @page {
        size: 210mm 297mm;
        margin-top: 20mm;
        margin-left: 10mm;
        margin-right: 10mm;
    }

    html {
        font-size: 16px;
    }

    #decorator-header,
    #decorator-footer,
    ._hj_feedback_container,
    .alertstripe,
    .nav-veilederpanel,
    .hide-on-print {
        display: none;
    }

    #decorator-header .header-linje {
        border: 0;
    }

    .navds-content-container {
        max-width: unset;
    }
}
