.top-x-small {
    margin-top: 0.5rem;
}

.top-small {
    margin-top: 1rem;
}

.top-medium {
    margin-top: 2rem;
}

.top-large {
    margin-top: 4rem;
}

.bottom-x-small {
    margin-bottom: 0.5rem;
}

.bottom-small {
    margin-bottom: 1rem;
}

.bottom-medium {
    margin-bottom: 2rem;
}

.bottom-large {
    margin-bottom: 4rem;
}
