.aktivitetIkkeMulig {
    border-top: 1px solid var(--skillelinje-farge);
    padding-top: var(--navds-spacing-8);
    margin-bottom: var(--navds-spacing-8);
}

.aktivitetIkkeMulig h4 {
    font-size: var(--navds-font-size-medium);
}

.aktivitetIkkeMulig .aarsak:not(:last-of-type) {
    margin-bottom: var(--navds-spacing-8);
}
