.perioder {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--a-spacing-4);
}

.perioder .periode {
    flex-grow: 1;
    margin-bottom: var(--a-spacing-3);
    background-color: var(--sykmelding-view-arbeidsgiver);
    padding: var(--a-spacing-4);
    border-radius: 4px;
}

.perioder .periode div {
    margin-bottom: var(--a-spacing-8);
}

.perioder .periode:nth-child(3n + 3) {
    flex-basis: 100%;
}

.perioder .periode p:not(:last-of-type) {
    margin-bottom: 0.3rem;
    font-size: var(--a-font-size-medium);
}

.perioder .periode div:last-of-type,
.perioder .periode p:last-of-type {
    margin-bottom: 0;
}
