.arbeidsforEtterPeriode div,
.hensynArbeidsplassen div {
    background-color: var(--sykmelding-view-arbeidsgiver);
    padding: var(--a-spacing-4);
    border-radius: 4px;
}

.arbeidsforEtterPeriode div {
    margin-bottom: var(--a-spacing-3);
}

.arbeidsforEtterPeriode p:last-of-type,
.hensynArbeidsplassen p:last-of-type {
    margin-bottom: 0;
}
