@import '../../basic.less';

.location-header {
    background-color: @headerFarge;
    height: 3.5rem;
    border-bottom: 4px solid @headerBorderFarge;
    justify-content: center;
    align-items: center;
    display: flex;
}
