.ekspanderbar .toggle {
    cursor: pointer;
    outline-offset: 0.2rem;
    outline-color: #0067c5;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: none;
    color: #0067c5;
    border: none;
}

.ekspanderbar .toggle .text {
    margin-right: 0.5rem;
}

.ekspanderbar .content {
    background-color: #e0f5fb;
    padding: 1.5rem;
    border: 1px solid #5690a2;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.ekspanderbar .displayNone {
    display: none;
}
