.contentWrapper {
    max-width: 690px;
    margin: 0 auto;
}

.form {
    margin-top: var(--navds-spacing-4);
}

.simpleMode {
    display: flex;
    flex-wrap: wrap;
    gap: var(--navds-spacing-6);
    margin-top: var(--navds-spacing-6);
}

.simpleMode > * {
    flex: 1 0 45%;
}

.explanation {
    margin-top: var(--navds-spacing-4);
}

.advancedInput {
    overflow: scroll;
    padding: 8px;
    border: 1px solid black;
}

.opprettButton {
    margin: var(--navds-spacing-6) 0;
}

.feedback {
    margin-bottom: var(--navds-spacing-6);
}
