.limit {
    width: var(--desktop-limit-width);
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: var(--navds-spacing-32);
}

@media print {
    .limit {
        padding-bottom: 0;
        width: 100%;
        margin-right: var(--navds-spacing-4);
        padding: 0;
    }
}
