.root {
    display: flex;
    align-items: center;
    padding: var(--a-spacing-4) 0 var(--a-spacing-4) 0;
}

.root svg {
    font-size: var(--a-font-size-heading-medium);
    margin-right: var(--a-spacing-2);
}
