name: Push
on: push
env:
  DOCKER_IMAGE: ghcr.io/navikt/sykmeldinger:${{ github.sha }}
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
jobs:
  snyk-monitor:
    if: github.ref == 'refs/heads/master'
    name: monitor dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: monitor
          args: --org=teamsykmelding --severity-threshold=high --all-projects
  snyk-test:
    name: analyze dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --org=teamsykmelding --severity-threshold=high --all-projects
  build-and-publish:
    name: Bygg, test og push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn --immutable
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - name: Report debt
        run: ./scripts/debt.sh >> $GITHUB_STEP_SUMMARY
      - name: Login GCP dev
        uses: google-github-actions/auth@v0.7.1
        with:
          credentials_json: ${{ secrets.STATIC_FILES_DEV }}
      - name: Upload static files to GCP bucket
        uses: google-github-actions/upload-cloud-storage@v0.10.1
        with:
          path: .next/static
          parent: false
          destination: teamsykmelding-static-files-dev/sykmeldinger/_next/static
      - name: Login GCP prod
        if: github.ref == 'refs/heads/master'
        uses: google-github-actions/auth@v0.7.1
        with:
          credentials_json: ${{ secrets.STATIC_FILES_PROD }}
      - name: Upload static files to GCP prod bucket
        if: github.ref == 'refs/heads/master'
        uses: google-github-actions/upload-cloud-storage@v0.10.1
        with:
          path: .next/static
          parent: false
          destination: teamsykmelding-static-files-prod/sykmeldinger/_next/static
      - name: Build and publish Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo ${GITHUB_TOKEN} | docker login ghcr.io --username ${GITHUB_REPOSITORY} --password-stdin
          docker build --build-arg NPM_AUTH_TOKEN=${NPM_AUTH_TOKEN} --tag ${DOCKER_IMAGE} .
          docker push ${DOCKER_IMAGE}

  deploy-to-dev-gcp:
    name: Deploy to dev-gcp
    needs: [build-and-publish, snyk-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais-dev-gcp.yaml
          VAR: image=${{ env.DOCKER_IMAGE }},version=${{ github.sha }}

  deploy-to-labs-gcp:
    if: github.ref == 'refs/heads/master'
    name: Deploy to labs-gcp (Demo)
    needs: [build-and-publish, snyk-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: labs-gcp
          RESOURCE: nais-labs.yaml
          VAR: image=${{ env.DOCKER_IMAGE }}

  deploy-to-prod-gcp:
    if: github.ref == 'refs/heads/master'
    name: Deploy to prod
    needs: [build-and-publish, snyk-test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: nais-prod-gcp.yaml
          VAR: image=${{ env.DOCKER_IMAGE }},version=${{ github.sha }}
