.listEntry {
    margin-bottom: 2rem;
}

.listEntryText {
    margin: 0.5rem 0 0.5rem 1rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
