@import '../../App.less';

// Formatting style: BEM http://getbem.com/introduction/
.sykmeldingsopplysninger {
    background-color: white;

    &__header {
        // For positioning statusHeader on top of container border
        position: relative;
        z-index: 1;

        display: flex;
        background: #fff;
        border: 1px solid #78706a;
        border-radius: 4px;
        width: 100%;
        padding: 17px;
        align-items: center;

        .sykmeldingsopplysninger__icon {
            width: 1.5rem;
            margin-right: 1.2rem;
        }

        .sykmeldingsopplysninger__text {
            align-items: center;
            display: flex;
            flex: 1;
            text-align: start;
        }
    }

    &__header:hover {
        border: 1px solid #0067c5;
        box-shadow: #a0a0a0 0 2px 1px 0;
        text-decoration: underline;
        color: #0067c5;
    }

    &__header:focus {
        box-shadow: 0 0 0 3px #254b6d;
        outline: none;
    }

    &__header--bg-orange {
        background: @navOransjeLighten80;
    }

    &__header--expandable {
        cursor: pointer;
    }

    &__content {
        top: -7px; // Offset content border to overlap header seamlessly
        position: relative;
        padding: 30px 20px;
        border: 1px solid #78706a;
        border-radius: 4px;
    }

    &__content--hidden {
        display: none;
    }
}

@media (max-width: @screen-sm) {
    .sykmeldingsopplysninger {
        &__header {
            padding: 15px 20px;
        }

        &__content {
            padding: 1.5rem 1rem 2.5rem 1rem;
        }
    }
}
