.browserPrintMessage {
    display: none;
}

@media print {
    .hideOnBrowserPrint {
        display: none;
    }

    .browserPrintMessage {
        display: block;
        margin: 25rem var(--a-spacing-24) 0 var(--a-spacing-24);
    }

    .browserPrintMessage h1 {
        margin-bottom: var(--a-spacing-4);
    }

    .browserPrintMessage p {
        font-size: var(--a-font-size-heading-medium);
    }
}
